* text=auto eol=lf
*.png binary
*.pyr binary
*.dat binary
*.raw binary
assets/lbar_* binary
*.amb binary
*.AMB binary
*.sav binary
*.SAV binary
*.UDO binary
*.IMG binary
*.ICN binary
*.TXT binary
data/** binary
data/**/*.json text eol=lf
data/*.md text eol=lf
